.contactRoot {
    min-height: 100vh;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 2vh;
    overflow-x: hidden;
}
.title {
    margin-top: 2vmin;
    position: absolute;
    padding: 1vmin;
    padding-left: 1vmin;
    background-color: var(--dark-slate-transparent);
    margin-left: 22%;
    color: var(--electricgreen);
    left:0;
    /* max-width: 19em; */
    font-family: var(--font-mono);
    overflow: hidden;
    text-align: center;
    white-space: nowrap; 
    /* box-shadow: 1px 1px 1px 1px rgb(108, 108, 108); */
  }

  /* .title {
    margin-top: 2vmin;
    position: absolute;
    padding: 1vmin;
    overflow: hidden;
    width: 14em;
    text-align: center;
    white-space: nowrap;
    background-color: var(--dark-slate-transparent);
    margin-left: 22%;
    color: var(--electricgreen);
    left:0;
    transform: translateY(-50%);   
    font-family: var(--font-mono);
   
  } */
.centerBox {
    z-index: 1;
    background-color: var(--primary);
    height: 50vh;
    width: 40%;
    /* margin-left: 30%; */
    align-self: center;
    margin-top: 15vh;
    border-top: 1px solid var(--dark-slate-transparent);
    
    border-right: 1px solid var(--electricgreen);
    border-bottom: 1px solid var(--electricgreen);
}

.aboutHeader {
    color: var(--fontColor);
    font-family: var(--font-sans);
    font-family: var(--font-mono);
    color: var(--slate);
    font-size: calc(8px + 1.1vmin);
  }
  .aboutHeaderWrapper {
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-left: 20vw;
    margin-top: 3vh;
    width: 10%;
    padding-right: 10px;
    min-width: fit-content;
    overflow-y: hidden;
    height: 7%;
    border-radius: 5%;
    /* background-color: var(--dark-navy); */
    background-color: rgb(2, 2, 14);
  }
  .innerHeader {
    border-bottom: 1px solid var(--slate);
    width: 40%;
    padding-bottom: 2px;
    min-height: fit-content;
  }
  .numbers {
    color: var(--electricgreen);
    margin-right: 10px;
    font-family: 'Roboto mono', sans-serif;
  }
  .aboutHr {
    margin-top: 11vh;
    margin-left: 17.5%;
    width: 65%;
    border-color: var(--dark-slate);
    /* position: absolute; */
  }
  .spaceship {
    width: 10%;
  min-width: 16vmin;
  position: absolute;
  left:0;
  opacity: 0.5;
  
  /* margin-top: 80vh; */
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 8s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 8s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
  }
  .aBoxForBoxes {
    margin-top: 15%;
    margin-left: 15%;
    width: 60%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .box {
    border: 1px solid var(--electricgreen);
    width: calc(90%/3);
    height: calc(99%/3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .socialIcons {
    color: var(--light-slate);
    size: 5.5vh;
    
    transition: margin-left 0.1s, color 0.25s;
}

.socialIcons:hover {
    color: var(--lightest-slate);
    margin-left: 4px;
}





.snowflake {
    color: #fff;
    color: var(--lightest-slate);
    font-size: 1.05em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
    -webkit-animation: snowflakes-fall both;
    animation: snowflakes-fall both;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        left: -5%
    }

    100% {
        left: 100%
    }
}

@-webkit-keyframes snowflakes-shake {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(90px);
        transform: translateX(90px)
    }
}

@keyframes snowflakes-fall {
    0% {
        left: -5%
    }

    100% {
        left: 100%
    }
}

@keyframes snowflakes-shake {

    0%,
    100% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(80px)
    }
}

.snowflake {
    position:absolute;
    /* margin-left: 70%; */
    /* top: -10%; */
    z-index: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    margin-bottom: 18%;
    font-size: 5em;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    margin-top: 23%;
    color: red; 
    font-size: 5em;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 30%;
    /* color: red; */
    /* font-size: 5em; */
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 5%;
    /* color: red; */
    margin-top: 4vh;
    /* font-size: 5em; */
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 21%;
    margin-top: 25vh;
    /* color: red; */
    /* font-size: 5em; */
    -webkit-animation-delay: 4s, 4s;
    animation-delay: 4s, 4s
}

.snowflake:nth-of-type(5) {
    left: 60%;
    margin-top: 66vh;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 70%;
    margin-top: 6.4vh;
    -webkit-animation-delay: 6.7s, 2s;
    animation-delay: 6.7s, 2s
}

.snowflake:nth-of-type(7) {
    left: 16%;
    margin-top: 84vh;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 24%;
    margin-top: 90vh;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
} 

.snowflake:nth-of-type(9) {
    left: 28%;
    margin-top: 36vh;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
    left: 74%;
    margin-top: 20.8vh;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 2s, 0s
}
.snowflake:nth-of-type(11) {
    left: 44%;
    margin-top: 48vh;
    -webkit-animation-delay: 3.7s, 2.5s;
    animation-delay: 3.7s, 2.5s
}

.snowflake:nth-of-type(12) {
    left: 11%;
    margin-top: 72vh;
    -webkit-animation-delay: 6s, 3.1s;
    animation-delay: 6s, 3.1s
}
.snowflake:nth-of-type(13) {
    left: 11%;
    margin-top: 36vh;
    -webkit-animation-delay: 6s, 3.1s;
    animation-delay: 6s, 3.1s
}



  
  
  /* Animation */
  .animTypewriter{
    /* animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal; */
  }
  @keyframes typewriter{
    from{width: 0px;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: var(--electricgreen);}
    to{border-right-color: var(--electricgreen);}
  }
