.barRoot {
    width: 32%;
    min-width: fit-content;
    position: absolute;
    height: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:-5px 1px 1px 5px rgba(46, 46, 46, 0.15)
    
    /* background-color: var(--dark-slate-transparent); */
}
.numbers {
    font-family: var(--font-mono);
    color: var(--electricgreen);
    font-size: calc(8px + 0.7vmin);
    margin-left: 10px;
}
.navLink {
    color: var(--light-slate);
    margin-left: 8px;
    user-select: none;
    text-decoration: none;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    font-size: calc(8px + 0.65vmin);
    transition: color 0.25s, margin-right 0.25s;
}
.navLinkResume {
    color: var(--light-slate);
    margin-left: 8px;
    user-select: none;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    font-size: calc(8px + 0.65vmin);
    text-decoration: none;
    transition: color 0.25s, margin-right 0.25s;
}
.navLink:hover, .navLinkResume:hover {
    color: white;
    margin-right:2px
}
.button {
    background-color: rgba(100,255,218,0);
    color: var(--electricgreen);
    border-color: var(--electricgreen);
    padding: 8px;
    /* align-self: center; */
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    /* font-size: calc(5.5px + 0.78vmin); */
}
.button:hover {
    background-color: var(--electricpurple);
}

@media only screen and ( max-width: 600px)  { 
    .barRoot {
        flex-direction: column;
        height: 20vh;
        align-items:flex-start;
        z-index: 10;
    
    }
 }