.contactRoot {
    height: 700vh;
    background-color: var(--primary);
    border-bottom: 1px solid var(--dark-slate);

}

.fireWrapper {
    /* bottom: 10%; */
    /* position: absolute; */
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url("../../public/campfire3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* position: fixed; */
    background-attachment: fixed;
    display: flex;
    flex-direction: column;

}

.backgroundOpacifier {
    background-color: rgb(0, 0, 128, 0.2);

    /* height: calc(100%/3); */
    height: 2300px;
    display: flex;
    /* align-items: center; */
    /* position: relative; */
    justify-content: left;
    /* align-content: center; */
    /* border: 1px solid var(--slate); */
    /* padding-top: 15vh; */
    overflow-y: hidden;

    padding-top: 10vh;
    
}


.backgroundOpacifier:nth-of-type(4) {
    
    
    padding-bottom: 500px;
}
.centerWrapper {
    /* border: 1px solid white; */
    width: 50%;

    margin: auto;
    
    /* border: 1px solid white; */
    left: 0;
    height: 22vh;


    /* border: 1px solid white; */
    display: flex;
    justify-content: right;
    
    
    /* align-items: flex-end; */
    /* padding-right: 2%; */
}
.centerWrapper1 {
    /* border: 1px solid white; */
    width: 50%;

    margin: auto;
    
    /* border: 1px solid white; */
    left: 0;
    height: 22vh;


    /* border: 1px solid white; */
    display: flex;
    justify-content: right;
    /* align-items: flex-end; */
    /* padding-right: 2%; */
    -webkit-animation: focus-in-contract 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
    animation: focus-in-contract 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;

}


.centerWrapperMid {

    /* border: 1px solid white; */
    width: 50%;

    margin: auto;
    /* border: 1px solid white; */
    left: 0;
    height: 22vh;


    /* border: 1px solid white; */
    display: flex;
    justify-content: left;
    /* align-items: flex-end; */
    /* padding-right: 2%; */
}

.centerBox {
    background-color: rgb(136, 146, 176, 0.45);
    /* height: 80%; */
    width: 32vmin;
    margin-right: 5px;
    padding: 0 5vmin;
    /* margin-right: 18%; */
    color: white;
    font-family: var(--font-mono);
    font-size: calc(5px + 1vmin);
    border-radius: 4%;
    /* height: 40px;
    width: 50px; */
    /* border-bottom: 10px solid var(--dark-slate); */
    /* border-left: 7px solid var(--navy); */
    border-right: 1px solid var(--slate);
    box-shadow: 1px 1px 2px var(--light-slate);
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    

}

.centerBoxMid {
    background-color: rgb(136, 146, 176, 0.45);
    /* height: 80%; */
    width: 32vmin;
    margin-right: 5px;
    padding: 2vmin 5vmin 0;
    /* margin-right: 18%; */
    color: white;
    font-family: var(--font-mono);
    font-size: calc(5px + 1vmin);
    border-radius: 4%;
    /* border-right: 7px solid var(--navy); */

    /* height: 40px;
    width: 50px; */
    border-bottom: 1px solid var(--slate);
    border-left: 1px solid var(--slate);
    /* box-shadow: 2px 2px 2px 1px rgb(33, 33, 33); */
    box-shadow: 2px 2px 2px var(--light-slate);
    margin-bottom: 5px;
    overflow-y: hidden;
}

.headshotBefore {
    border-radius: 50%;
    opacity: 1;
    height: 26vh;
    /* width: 26vw; */
    border-bottom: 2px solid var(--dark-slate-transparent);
    object-fit: cover;
    margin-bottom: 5px;
    mix-blend-mode: luminosity;
    box-shadow: 2px 2px 5px 1px var(--dark-slate-transparent);
}

.headshot {
    z-index: 1;
    border-radius: 50%;
    opacity: 90%;
    /* width: 250px; */
    height: 26vh;
    border-bottom: 1px solid var(--dark-slate-transparent);
    box-shadow: 2px 2px 5px 1px var(--dark-slate-transparent);
    object-fit: cover;
    margin-bottom: 5px;
    mix-blend-mode: normal;
    transition: mix-blend-mode 0.5s;
}

.headshot:hover {
    mix-blend-mode: luminosity;
}

.quoteIcon {
    position: absolute;
    top: 0;
    margin-right: 42%;
    color: white;
}
.quoteIconMid {
    position: absolute;
    top: 0;
    margin-left: 41.5%;
    color: white;
}

.reko {
    border-right: 1px solid var(--light-slate);
    font-size: calc(2px + 0.8em);
    padding-right: 20px;
    margin-bottom: 40px;
}
.reko1{
    border-right: 1px solid var(--light-slate);
    font-size: calc(2px + 0.8em);
    padding-right: 20px;
    margin-bottom: 40px;
    padding-top: 15px;
}
.rekoMid {
    border-left: 1px solid var(--light-slate);
    padding-left: 20px;
    font-size: calc(2px + 0.8em);
    min-width: fit-content;
    min-height: fit-content;
    /* margin-bottom: 10px; */
}

.pictureWrapper {


    width: 50%;
    height: 98.5%;
    /* margin: auto; */
    /* right: 0; */
    bottom: 0;
    display: flex;
    align-items: end;
    /* height: fit-content; */
    /* margin-top: 50%; */
    /* padding-left: 2.5%; */
    margin-left: -4.5%;
    /* border: 1px solid red; */
}

.pictureWrapperMid {


    width: 50%;
    height: 98.5%;
    /* margin: auto; */
    /* right: 0; */
    bottom: 0;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-right: -3.5%;
    /* height: fit-content; */
    /* margin-top: 50%; */
    /* padding-left: 2.5%; */
    
}

.titleWrapper {
    color: var(--light-slate);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    margin-bottom: 3%;
    margin-left: -4vw;
    z-index: 3;
}
.titleWrapperMid {
    color: var(--light-slate);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    margin-bottom: 3%;
    margin-left: 0;
    margin-right: -4vw;
    z-index: 3;
}
.titleWrapper:nth-of-type(1){
    margin-bottom: 0%;
}

.jobTitle {
    font-family: var(--font-mono);
    margin: 0;

    -webkit-animation: slide-in-blurred-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
    animation: slide-in-blurred-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;

}

.company {
    font-family: var(--font-mono);
    margin: 0;
    -webkit-animation: slide-in-blurred-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
    animation: slide-in-blurred-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
    font-size: calc(6px + 1.05vmin);
}

.name {
    font-family: var(--font-sans);
    font-size: calc(5px + 1.05vmin);
    margin-bottom: 8px;
    border-bottom: 1px solid var(--electricgreen);
    -webkit-animation: slide-in-blurred-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: slide-in-blurred-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.disabled {
    display: none
}

@keyframes slide-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.aboutHeader {
    color: var(--fontColor);
    font-family: var(--font-sans);
    font-family: var(--font-mono);
    color: var(--slate);
    font-size: calc(8px + 1.1vmin);
}

.aboutHeaderWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-left: 20vw;
    margin-top: 3vh;
    width: 10%;
    padding-right: 10px;
    min-width: fit-content;
    overflow-y: hidden;
    height: 7%;
    border-radius: 5%;
    /* background-color: var(--dark-navy); */
    background-color: rgb(2, 2, 14);
    -webkit-animation: focus-in-contract 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
    animation: focus-in-contract 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}
@keyframes focus-in-contract {
  0% {
      /* letter-spacing: 0.3em; */
      /* -webkit-filter: blur(12px); */
      /* filter: blur(12px); */
      opacity: 0;
  }

  100% {
      /* -webkit-filter: blur(0px); */
      /* filter: blur(0px); */
      opacity: 1;
  }
}
@-webkit-keyframes focus-in-contract {
  0% {
      /* letter-spacing: 1em;
      -webkit-filter: blur(12px);
      filter: blur(12px); */
      opacity: 0;
  }

  100% {
      /* -webkit-filter: blur(0px);
      filter: blur(0px); */
      opacity: 1;
  }
}
.innerHeader {
    border-bottom: 1px solid var(--slate);
    width: 40%;
    padding-bottom: 2px;
    min-height: fit-content;
}

.numbers {
    color: var(--electricgreen);
    margin-right: 10px;
    font-family: 'Roboto mono', sans-serif;
}

.aboutHr {
    margin-top: 11vh;
    margin-left: 17.5%;
    width: 65%;
    border-color: var(--dark-slate);
    position: absolute;
    -webkit-animation: focus-in-contract 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
    animation: focus-in-contract 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}
.mobile {
  /* display: none;        */
}

/* .recoHr {
    margin-top: 11vh;
    margin-left: 17.5%;
    width: 65%;
    border-color: var(--dark-slate);
    position: absolute;
  } */

  
@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  .animateFlicker {
     -webkit-animation: flickerAnimation .5s 2;
     -moz-animation: flickerAnimation .5s 2;
     -o-animation: flickerAnimation .5s 2;
      animation: flickerAnimation .5s 2;
  }

  @media only screen and ( max-width: 600px)  { 
    .aboutHeaderWrapper {
        margin-left: 10vw;   
        padding-left: 10px;
        height:5.5%;
        /* margin-top: 18.2vh;  */
        overflow-y: hidden;
    }
    .aboutHr {
        margin-top: 11vh;
        margin-left: 10%;
        width: 80%;
        border-color: var(--dark-slate);
        /* position: absolute; */
    }
    .quoteIcon {
        left: 0%;
        z-index: 5;
    }
    .quoteIconMid {
        right: 0
    }
    .centerBox {
        width: 90%;
        margin-top: 10%;
        padding-top: 5%;
        margin-left: 10%;
        overflow-y: hidden;
    }
    .centerWrapper1 {
        width: 50%;
        
        height: 25vh;
        color: pink;
        /* background-color: red; */
        /* border: 1px solid white; */
    }
    
    .backgroundOpacifier {
        width: 100%;
        padding-left: 0;
    
    }
    .centerWrapperMid {
        width: 50%;
        
        height: 28vh;
        color: pink;
        /* background-color: red; */
        /* border: 1px solid white; */
    }
    .centerBoxMid {
        width: 90%;
        margin-top: 10%;
        margin-right: 10%;
        margin-bottom: 10px;
    }
    .pictureWrapper {
        width: 50%;
        margin-left: -10%;
        /* border: 1px solid white */
     }
    .headshotBefore {
        border-radius: 50%;
        opacity: 1;
        height: 40vmin;
        width: 40vmin;
        border-bottom: 2px solid var(--dark-slate-transparent);
        object-fit: cover;
        margin-bottom: 1vh;
        mix-blend-mode: luminosity;
        box-shadow: 2px 2px 5px 1px var(--dark-slate-transparent);
    }
    
    .headshot {
        z-index: 1;
        border-radius: 50%;
        opacity: 90%;
        height: 40vmin;
        width: 40vmin;
        border-bottom: 1px solid var(--dark-slate-transparent);
        box-shadow: 2px 2px 5px 1px var(--dark-slate-transparent);
        object-fit: cover;
        margin-bottom: 1vh;
        mix-blend-mode: normal;
        transition: mix-blend-mode 0.5s;
    }
    .titleWrapper {
        color: var(--light-slate);
        /* background-color: rgb(0, 0, 0, 0.3); */
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        margin-bottom: -14%;
        right: 20px;
        z-index: 3;
        position: absolute;
        width: 38vw;
    }
    .titleWrapperMid {
        color: var(--light-slate);
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        margin-bottom: -8%;
        left: 20px;
        z-index: 3;
        position: absolute;
    }
    .titleWrapper:nth-of-type(1){
        margin-bottom: -12%;
    }
    
    .jobTitle {
        font-family: var(--font-mono);
        margin: 0;
    
        -webkit-animation: slide-in-blurred-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
        animation: slide-in-blurred-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
    
    }
    
    .company {
        font-family: var(--font-mono);
        font-size: calc(8px + 1.05vmin);
        margin: 0;
        -webkit-animation: slide-in-blurred-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
        animation: slide-in-blurred-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
    }
    
    .name {
        font-family: var(--font-sans);
        font-size: calc(7px + 1.05vmin);
        margin-bottom: 4px;
        border-bottom: 1px solid var(--electricgreen);
        -webkit-animation: slide-in-blurred-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: slide-in-blurred-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    .fireWrapper {
        /* background-image:none; */
        z-index: -1;
    }
    .mobile {
        /* display:initial; */
        /* height: 100vh;
        position: absolute;
        object-fit: cover; */
        
    }
    .megaWrapper {
        position: absolute;
        z-index: 5;
    }
}
